@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@if (Model == null)
{
    <h1 class="text-danger">Internal server error</h1>

    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <h2 class="text-danger">We are sorry, try again later.</h2>

    @Html.ActionLink("Back to Home page", "Index", "Home")
}
else
{
    <h1 class="text-danger">Error - @Model.Exception.Message</h1>

    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @Html.ActionLink("Back", Model.ActionName, Model.ControllerName)
}
