
@{
    ViewBag.Title = "NotFound";
}

<div >
    <h2>Page not found.</h2>
    <h4>
        Our apologies, this is almost certainly not the page you were looking for.
    </h4>
    <h4>
        Please try the search tool, above, or visit our <a href="/">home page</a>.
    </h4>
    <a href="/">
        <img alt="Return to the Homepage" src="/wwwroot/img/error-404.png">
    </a>
</div>

