@model MediaService.PL.Models.ObjectViewModels.FileViewModels.DeleteFileViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteFileViewModel</h4>
    <hr />

    @using (Html.BeginForm(Html.BeginForm("Delete", "File", FormMethod.Post))) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.FileId)
                @Html.HiddenFor(model => model.ParentId)
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
