@model MediaService.PL.Models.ObjectViewModels.FileViewModels.UploadFilesViewModel

<div>
    <input type="hidden" name="ParentId"  id="ParentId" value="@Model.ParentId">
    <input type="file" id="FileUpload" multiple onchange="javascript:updateList();"/>
    <input type="button" id="Upload" value="Upload" onclick="javascript:clearModal(); $.modal.close()"/>
    <div id="fileList"></div>
</div>




