@{
    string userName = ViewBag.UserName ?? "";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        @User.Identity.Name
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <img src="~/fonts/icons-buttons/user.svg" id="userImg"/>
        </a>
    }
}