<div class="col-xs-4">
</div>
<div class="col-xs-4">
    <h2>Вы успешно зарегестрированы!</h2>
    <h5>Теперь вы можете начать использование лого! Загружайте свои файлы и делитесь ими с остальными пользователями!</h5>
    <input type="button" class="btn btn-primary" value="Загрузить файл" onclick="location.href='@Url.Action("UploadFile", "Home")'" />
    <br />
    <input type="button" class="btn btn-primary btn-outline" value="Создать папку" onclick="location.href='@Url.Action("CreateFolder", "Home")'" />
</div>
<div class="col-xs-4">
</div>
