@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4">
        <input type="search" value="Поиск файлов" class="searchField" />
    </div>
    <div class="col-xs-4">
        <h1>LuxStorage</h1>
    </div>
    <div class="col-xs-4">
    </div>
</div>
<hr />
@if (ViewBag.FirstTime == "true")
{
    <section id="GeneralView">
        @Html.Partial("_GeneralPartial")
    </section>
}
else
{
    <section id="WelcomeView">
        @Html.Partial("_WelcomePartial")
    </section>

}


