﻿@model MediaService.BLL.DTO.DirectoryEntryDto
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4">
        <input type="search" value="Поиск файлов" class="searchField" />
    </div>
    <div class="col-xs-4">
        <h1>LuxStorage</h1>
    </div>
    <div class="col-xs-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
<hr />

<div id='directories'></div>
<div id='files'></div>

@if (ViewBag.FirstTime == "true")
{
    <section id="GeneralView">
        @Html.Partial("_WelcomePartial")
    </section>
}
else
{
    <section id="WelcomeView">
        <div class="row folderList">
            @Html.Partial("_DirectoriesList")
        </div>
</section>

}

@section scripts {

    <script>
        $.ajax({
            url: '@Url.Action("DirectoriesList", "Home")',
            type: "POST",
            contentType: "text/html; charset=utf-8",
            success: function (data) {
                $('#directories').html(data);
            }
        });

        //$(function(){
        //    $(document).ajaxStart(function () {
        //    //show a progress modal of your choosing
        //        window.showProgressModal('loading');
        //    });
        //    $(document).ajaxStop(function () {
        //    //hide it
        //        window.hideProgressModal();
        //    });

        //    $.ajax({
        //        url: '/Home/DirectoriesList',
        //        dataType: 'html',
        //        success: function(data) {
        //            $('#directories').html(data);
        //        }
        //    });
        //});

    </script>

}
