@using MediaService.BLL.DTO
@using MediaService.PL.Models.ObjectViewModels.DirectoryViewModels
@using MediaService.PL.Models.ObjectViewModels.FileViewModels

﻿@model DirectoryEntryDto
@{
    ViewBag.Title = "Home Page";
}

<div class="container indexMenu">
    <div class="row">
        <div class="col-xs-4">
            <input type="search" placeholder="Поиск файлов" class="custom-search-input" />
        </div>
        <div class="col-xs-4">
            <h2 class="indexTitle text-center">LuxStorage</h2>
        </div>
        <div class="col-xs-4">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<hr />
<div class="row customNav">
    <div class="col-xs-7">
        <p class="customBreadcrumb">Мои файлы</p>
    </div>
    <div class="col-xs-5">
        <div>
            <a class="pull-right" href="#">
                <img src="~/fonts/icons-buttons/tile.svg" id="tileImg" />
            </a>
            <a class="pull-right" href="#">
                <img src="~/fonts/icons-buttons/list.svg" id="listImg" />
            </a>
        </div>
        <img src="~/fonts/icons-buttons/next.svg" class="pull-right" id="dropdownImg" />
        <a class="pull-right btnLink" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            По дате создания
        </a>
        <ul class="dropdown-menu dropdown-menu-right pull-right" aria-labelledby="navbarDropdownMenuLink">
            <li>
                <a class="dropdown-item" href="#">По дате добавления</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">По размеру</a>
            </li>
        </ul>
        <a class="pull-right btnLink" href="#">Настройки доступа </a>
    </div>
</div>
<div class="row dirListView">
    <div class="col-xs-9">
        <div class="row folderList">
            <div id='directories'></div>
        </div>
        <div class="row filesList">
            <div id='files'></div>
        </div>
        @Html.ActionLink("Back", "Index", "Home", new { dirId = Model.ParentId }, null)
    </div>
    <div class="col-xs-3">
        <div id="dirListMenu">
            <a href="#uploadFileModal" class="btn btn-primary  uploadFileBtn pull-right" rel="modal:open">Загрузить файл</a>
            <div id="uploadFileModal" style="display:none">
                @{Html.RenderPartial("~/Views/File/_UploadFiles.cshtml", new UploadFilesViewModel { ParentId = Model.Id });}
            </div>
            <a href="#createDirModal" class="btn btn-primary  createDirBtn pull-right" rel="modal:open">Создать папку</a>
            <div id="createDirModal" style="display:none">
                @{Html.RenderPartial("~/Views/Directory/_CreateDirectory.cshtml", new CreateDirectoryViewModel { ParentId = Model.Id });}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $.ajax({
            url: '@Url.Action("DirectoriesList", "Directory", new DirectoriesListViewModel{ParentId = Model.Id})',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#directories').html(data);
            }
        });
        $.ajax({
            url: '@Url.Action("FilesList", "File", new FilesListViewModel { ParentId = Model.Id })',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#files').html(data);
            }
        });
    </script>
}