<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard"
         connectionString="DefaultEndpointsProtocol=https;AccountName=luxgatedashboard;AccountKey=pgibFtgGjfbqeR3FOqa+e0r+MWlwc/cdjWTT/wKvoY36HPi4hSv7MZ+2Dhc7ldRHHokWc2FkQfXzi/UWTRIsoA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage"
         connectionString="DefaultEndpointsProtocol=https;AccountName=luxgate;AccountKey=poXVviPushVm0H+jcs5KjQrgUZJExVUJ1mlK3LO8UwrR9mKm7nf+groE9JBsyYfuVUA8TrufZGlCnJ+E5jWlSQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=luxgate;AccountKey=bZODT5PMsfZnh4O1ZoUUFExc4g39h4cVsWbKd+E0XrYAGjjYS2BoUpq7bkoVDwyhwJbgMcilS42xPY3WPXL89g==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.12.0" newVersion="4.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>