@model MediaService.PL.Models.AccountViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var authenticationDescriptions = loginProviders as IList<AuthenticationDescription> ?? loginProviders.ToList();
    if (!authenticationDescriptions.Any()) {

    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
               
                    @foreach (AuthenticationDescription p in authenticationDescriptions) {

                        <button type="submit"  class="btn btn-primary btn-block socialBtn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">Регистрация через @p.AuthenticationType</button>
                    }
                
            </div>
        }
    }
}